/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    background: linear-gradient(to right, #00b09b, #96c93d);
    min-height: 100vh;
}

.text-gray {
    color: #aaa;
}

.container{
    max-width: 100%;
}

h1{
    font-size: 400%;
}
.button-title{
    margin: 2% 0 0 0;
}



/* Croll bar: https://codepen.io/zkreations/pen/bZRgqd*/
.flx {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
}

.h600 {
    height: 600px;
}
.scroll {
    height: 700px;
    overflow-y: auto;
    width: 100%;
}
/* Scroll 6 */
.sc6::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.sc6::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}
.sc6::-webkit-scrollbar-thumb {
    background-color: #aab74d;
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
}

/* Toggle: https://codepen.io/internette/pen/BjOMWa */
label input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

label .fa {
    position: relative;
    width: 40px;
    height: 40px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
    margin: 0 4px;
    color: #6f6f6f;
    font-size: 13px;
    border-radius: 50%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

label .fa:hover {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8),
    inset -2px -2px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

label input:checked ~ .fa {
    color: #e28282;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05), inset 2px 2px 10px rgb(39 173 49);
    text-shadow: 0 0 5px #00fff1, 0 0 20px #00fff1;
}

/* Button export */
.export{
    margin: 3% 22% 0 0;
}
.top_banner {margin: 0 0 0 20%;}

.count{margin: 40% -14% 0 14%}
